.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  width: 100vw;
  height: 60px;
  background-color: red;
  display: flex;
  padding: 0px 20px;
}

h2 {
  margin: 0;
  padding: 0;
}

.pokecard {
  background-color: rgb(62, 62, 62);
  min-height: 150px;
  width: 100px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.pokecard img {
  width: 100%;
  padding: 0;
}

.pokecard h4 {
  font-size: 20px;
}

.pokedex-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}